In [4]:
x = 1 
x = x == x 

print(x)

True

In [5]:
i = 0 
while i <= 3 : i += 2
print("*")

*

In [6]:
i = 0
while i <= 5 : i += 1
if i % 2 == 0: "break "
print("*")

*

In [8]:
for i in range(1): print("#")
else: print("#")

#
#

In [9]:
var = 0
while var < 6: var += 1
if var % 2 == 0: 'continue'
print("#")

#

In [12]:
z = 10
y = 0
x = y < z and z > y or y > z and z < y
print(x)

True

In [13]:
a = 1
b = 0
c = a & b
d = a | b
e = a ^ b
print(c + d + e)

2

In [15]:
my_list = [3, 1, -2]
print(my_list[my_list[-1]])

1

In [16]:
my_list = [1, 2, 3, 4]
print(my_list[-3:-2])

[2]

In [18]:
vals = [0, 1, 2]
vals[0], vals[2] = vals[2], vals[0]
print(vals)

[2, 1, 0]

In [19]:
vals = [0, 1, 2]
vals.insert(0, 1)
del vals[1]
print(vals)

[1, 1, 2]

In [21]:
nums = [1, 2, 3]
vals = nums
del vals[1:2]
print(vals)

[1, 3]

In [22]:
nums = [1, 2, 3]
vals = nums[-1:-2]
print(vals)

[]

In [23]:
my_list_1 = [1, 2, 3]
my_list_2 = []
for v in my_list_1: my_list_2.insert(0, v)
print(my_list_2)

[3, 2, 1]

In [24]:
my_list = [1, 2, 3]
for v in range(len(my_list)): my_list.insert(1, my_list[v])
print(my_list)

[1, 1, 1, 1, 2, 3]

In [25]:
my_list = [i for i in range(-1, 2)]
print(my_list)

[-1, 0, 1]

In [26]:
t = [[3-i for i in range (3)] for j in range (3)]
s = 0
for i in range(3): s += t[i][i]
print(s)

6

In [33]:
my_list = [[0, 1, 2, 3] for i in range(2)]
print(my_list)

[[0, 1, 2, 3], [0, 1, 2, 3]]