**Um ano bissexto: escrevendo suas próprias funções**
Sua tarefa é escrever e testar uma função que usa um argumento (um ano) e retorna True se o ano for um ano bissexto ou False caso contrário.

A semente da função já é semeada no código de esqueleto no editor.

Nota: também preparamos um código de teste curto, que você pode usar para testar sua função.

O código usa duas listas - uma com os dados de teste e a outra contendo os resultados esperados. O código informará se algum dos resultados é inválido.

In [ ]:
def is_year_leap(year):
 #
 # Escreva seu código aqui.
 #

test_data = [1900, 2000, 2016, 1987]
test_results = [False, True, True, False]
for i in range(len(test_data)):
 yr = test_data[i]
 print(yr,"->",end="")
 result = is_year_leap(yr)
 if result == test_results[i]:
 print("OK")
 else:

**Quantos dias: escrevendo e usando suas próprias funções**
Sua tarefa é escrever e testar uma função que usa dois argumentos (um ano e um mês) e retorna o número de dias para o determinado par de ano-mês (embora apenas fevereiro seja sensível ao valor do year, sua função deve ser universal).

A parte inicial da função está pronta. Agora, convença a função a não retornar None se os argumentos não fizerem sentido.

Obviamente, você pode (e deve) usar a função previamente testada e escrita (LAB 4.3.1.6). Pode ser muito útil. Recomendamos que você use uma lista com os comprimentos dos meses. Você pode criá-lo dentro da função - esse truque diminuirá significativamente o código.

Preparamos um código de teste. Expanda-o para incluir mais casos de teste.

In [ ]:
def is_year_leap(year):
 #
 # Seu código do LAB anterior.
 #

def days_in_month(year, month):
 #
 # Escreva seu novo código aqui.
 #

test_years = [1900, 2000, 2016, 1987]
test_months = [2, 2, 1, 11]
test_results = [28, 29, 31, 30]
for i in range(len(test_years)):
 yr = test_years[i]
 mo = test_months[i]
 print(yr, mo, "->", end="")
 result = days_in_month(yr, mo)
 if result == test_results[i]:
 print("OK")
 else:
 print("Fracassado")

**Dia do ano: escrevendo e usando funções**
Sua tarefa é escrever e testar uma função que usa três argumentos (um ano, um mês e um dia do mês) e retorna o dia correspondente do ano ou retorna None se algum dos argumentos for inválido.

Use as funções escritas e testadas anteriormente. Adicione seus próprios casos de teste ao código.

In [ ]:
def is_year_leap(year):
 #
 # Seu código do LAB anterior.
 #

def days_in_month(year, month):
 #
 # Seu código do Lab anterior.
 #

def day_of_year(year, month, day):
 #
 # Escreva seu código aqui.
 #

print(day_of_year(2000, 12, 31))

**Números primos ‒ como encontrá-los**

Um número natural é primo se for maior que 1 e não tiver divisores diferentes de 1 e ele próprio.

Complicado? Não mesmo. Por exemplo, 8 não é um número primo, pois você pode dividi-lo por 2 e 4 (não podemos usar divisores iguais a 1 e 8, pois a definição proíbe isso).

Por outro lado, 7 é um número primo, pois não podemos encontrar divisores legais para ele.

Sua tarefa é escrever uma função verificando se um número é primo ou não.

A função:

é chamado is_prime;
requer um argumento (o valor a ser verificado)
retorna True se o argumento for um número primo e False caso contrário.
Dica: tente dividir o argumento por todos os valores subsequentes (começando em 2) e verifique o restante - se for zero, seu número não pode ser um primo; pense bem quando deve interromper o processo.

Se você precisar conhecer a raiz quadrada de qualquer valor, poderá utilizar o operador **. Lembre-se: a raiz quadrada de x é o mesmo que x0.5

Preencha o código no editor.

Execute o código e verifique se a saída é igual à nossa.

Saída prevista:

2 3 5 7 11 13 17 19

In [ ]:
def is_prime(num):
 #
 # Escreva seu código aqui.
 #

for i in range(1, 20):
 if is_prime(i + 1):
 print(i + 1, end=" ")
print()

**Convertendo o consumo de combustível**
O consumo de combustível de um carro pode ser expresso de várias maneiras diferentes. Por exemplo, na Europa, ele é mostrado como a quantidade de combustível consumida por 100 quilômetros.

Nos EUA, é mostrado como o número de quilômetros percorridos por um carro usando um litro de combustível.

Sua tarefa é escrever um par de funções convertendo l/100 km em mpg e vice-versa.

As funções:

são nomeados liters_100km_to_miles_gallon e miles_gallon_to_liters_100km respectivamente;
use um argumento (o valor correspondente aos nomes)
Preencha o código no editor e execute-o para verificar se a sua saída é igual à nossa.

Aqui estão algumas informações para ajudá-lo:

1 milha americana = 1609.344 metros;
1 galão americano = 3,785411784 litros.
Saída prevista:

60.31143162393162
31.36194444444444
23.52145833333333
3.9007393587617467
7.490910297239916
10.009131205673757

In [ ]:
def liters_100km_to_miles_gallon(liters):
 #
 # Escreva seu código aquie your code here.
 #

def miles_gallon_to_liters_100km(miles):
 #
 # Escreva seu código aqui.
 #

print(liters_100km_to_miles_gallon(3.9))
print(liters_100km_to_miles_gallon(7.5))
print(liters_100km_to_miles_gallon(10.))
print(miles_gallon_to_liters_100km(60.3))
print(miles_gallon_to_liters_100km(31.4))
print(miles_gallon_to_liters_100km(23.5))

In [ ]:
def function(x=0):return x

In [ ]:
dictionary = {}
my_list = ['a', 'b', 'c', 'd']

for i in range(len(my_list) - 1):dictionary[my_list[i]] = (my_list[i], )

for i in sorted(dictionary.keys()):k = dictionary[i]
print(k[0])

c

In [ ]:
def func_1(a):
  return a ** a

def func_2(a):
  return func_1(a) * func_1(a)


print(func_2(2))

16

In [ ]:
def fun(x):
  global y
  y = x * x
  return y


fun(2)
print(y)

4

In [ ]:
def any():
  print(var + 1, end='')


var = 1
any()
print(var)

21

In [ ]:
def fun(x, y, z):
  return x + 2 * y + 3 * z


print(fun(0, z=1, y=3))

9

In [ ]:
def fun(inp=2, out=3):
  return inp * out


print(fun(out=2))

4

In [ ]:
dictionary = {'one': 'two', 'three': 'one', 'two': 'three'}
v = dictionary['one']

for k in range(len(dictionary)):
  v = dictionary[v]

print(v)

two

In [ ]:
tup = (1, 2, 4, 8)
tup = tup[1:-1]
tup = tup[0]
print(tup)

2

In [ ]:
try:
    value = input("Entre um valor: ")
    print(value/value)
except ValueError:
    print("Entrada incorreta...")
except ZeroDivisionError:
    print("Entrada muito ruim...")
except TypeError:
    print("muito muito ruim entrada...")
except:
    print("Booo!")

Entre um valor: 1
muito muito ruim entrada...

In [ ]:
my_list = [1, 2]

for v in range(2):
  my_list.insert(-1, my_list[v])

print(my_list)

[1, 1, 1, 2]

In [ ]:
nums = [1, 2, 3]
vals = nums
print(vals)
print(nums)

[1, 2, 3]
[1, 2, 3]

In [ ]:
1 // 2

0

In [ ]:
z = 0
y = 10
x = y < z and z > y or y < z and z < y
print(x)

False

In [ ]:
my_list =  [x * x for x in range(5)]


def fun(lst):
  del lst[lst[2]]
  return lst


print(fun(my_list))

[0, 1, 4, 9]

In [ ]:
x = 1
y = 2
x, y, z = x, x, y
z, y, z = x, y, z

print(x, y, z)

1 1 2

In [ ]:
a = 1
b = 0
a = a ^ b
b = a ^ b
a = a ^ b

print(a, b)

0 1

In [ ]:
def fun(x):
  if x % 2 == 0:
    return 1
  else:
    return 2


print(fun(fun(2)))

2

In [ ]:
nums = [1, 2, 3]
vals = nums
del vals[:]
print(vals)
print(nums)

[]
[]

In [ ]:
x = int(input())
y = int(input())
x = x % y
x = x % y
y = y % x
print(y)

3
2
0

In [ ]:
y = input()
x = input()
print(x + y)

3
6
63

In [ ]:
print("a", "b", "c", sep="sep")

asepbsepc

In [ ]:
x = 1 // 5 + 1 / 5
print(x)

0.2

In [ ]:
x = float(input())
y = float(input())
print(y ** (1 / x))

2
4
2.0

In [ ]:
dct = {'one': 'two', 'three': 'one', 'two': 'three'}
v = dct['three']

for k in range(len(dct)):
  v = dct[v]

print(v)

one

In [ ]:
lst = [i for i in range(-1, -2)]
tamanho = len(lst)
print(tamanho)

0

In [ ]:
def fun(x, y):
  if x == y:
    return x
  else:
    return fun(x, y-1)


print(fun(0, 3))

0

In [ ]:
tup = (1, 2, 4, 8)
tup = tup[-2:-1]
tup = tup[-1]
print(tup)

4

In [ ]:
dct = {}
dct['1'] = (1, 2)
dct['2'] = (2, 1)

for x in dct.keys():
  print(dct[x][1], end="")

21

In [ ]:
def fun(inp=2, out=3):
  return inp * out


print(fun(out=2))

4

In [ ]:
lst = [[x for x in range(3)] for y in range(3)]

for r in range(3):
    for c in range(3):
        if lst[r][c] % 2 != 0:
            print("#")

#
#
#

In [ ]:
try:
    value = input("Digite um valor: ")
    print(int(value)/len(value))
except ValueError:
  print("Entrada ruim...")
except ZeroDivisionError:
  print("Entrada muito ruim...")
except TypeError:
  print("Muito, muito ruim entrada...")
except:
  print("Booo!")

Digite um valor: 0
0.0